.menu {
  .menu-wrapper {
    padding: 22px 0;
    display: flex;
    justify-content: space-around;

    row-gap: 30px;
    @media (max-width: 1024px) {
      column-gap: 95px;
      flex-wrap: wrap;
    }
    .menu-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 95px;
      @media (max-width: 520px) {
        gap: 25px;
        row-gap: 20px;
      }
      a {
        color: $menuColor;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Lora', serif;
        text-decoration: none;
        @media (max-width: 1024px) {
          font-size: 18px;
        }
      }
    }
    @media (max-width: 900px) {
      gap: 30px;
      column-gap: 100px;
    }
  }
}
.main {
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 70%;
    .author {
      display: flex;
      align-items: center;
      .author-img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
      .author-span {
        line-height: 35px;
      }
    }
  }
  background-color: $bgColor;
  .articles {
    position: relative;
    color: $accentColor;
    margin-bottom: 65px;
    .articles-bg {
      width: 100%;
      height: 300px;
      background-color: $bgSecondaryColor;
      position: absolute;
      top: 0;
      @media (max-width: 900px) {
        display: none;
      }
    }
    .articles-wrapper {
      position: relative;
      padding-top: 67px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
        gap: 30px;
      }
      @media (max-width: 900px) {
        flex-direction: column;
        padding-top: 30px;
      }
      .articles-item {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-basis: 460px;
        flex-shrink: 1;
        @media (max-width: 1024px) {
          flex-basis: auto;
        }
        .label {
          position: absolute;
          top: 20px;
          left: 20px;
          line-height: 13px;
          text-transform: uppercase;
          padding: 7px 9px;
          background-color: $btnColor;
          @media (max-width: 400px) {
            top: 0;
            z-index: 1;
          }
        }
        .article-img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          @media (max-width: 900px) {
            height: auto;
          }
        }
        .article-inner {
          position: absolute;
          padding: 0 20px;
          bottom: 15px;
          @media (max-width: 900px) {
            background: rgba(35, 47, 56, 0.6);
            border-radius: 3px;
            padding: 20px;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
          }
          @media (max-width: 600px) {
            background: rgba(35, 47, 56, 0.4);
            width: 80%;
            padding: 10px;
          }
          @media (max-width: 500px) {
            width: 90%;
            padding: 5px;
          }
          .article-title {
            font-family: 'Lora', serif;
            font-size: 27px;
            line-height: 30px;
            margin-bottom: 6px;
            @media (max-width: 600px) {
              font-size: 22px;
            }
          }
          .article-text {
            font-style: 14px;
            line-height: 25px;
            margin-bottom: 12px;
            opacity: 70%;
          }
        }
      }
    }
  }
}

.recents {
  padding-bottom: 108px;
  .recents-title {
    text-align: center;
    font-size: 20px;
    color: $textColor;
    letter-spacing: 2px;
    line-height: 27px;
    margin-bottom: 22px;
    div {
      display: inline-block;
      border-bottom: 1px solid $bgSecondaryColor;
      padding: 0 26px 16px;
    }
  }

  .recents-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1024px) {
      gap: 30px;
      justify-content: center;
    }

    .recent-item {
      flex-basis: 296px;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      @media (max-width: 900px) {
        flex-grow: 1;
      }
      .recent-img {
        width: 100%;
      }
      .recent-inner {
        padding: 14px 13px 0 13px;
        padding-bottom: 33px;
        background-color: $accentColor;
        border-bottom: 1px solid $secondaryColor;
        height: 93px;
        .recent-title {
          font-family: 'Lora', serif;
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 6px;
        }
        .recent-text {
          font-size: 13px;
          line-height: 19px;
          color: $textSecondaryColor;
        }
      }
      .about {
        background-color: #fcfcfc;
        padding: 7px 13px 6px;
      }
    }
  }
}
